<app-header></app-header>
<main>
    <section class="first-section">
        <div class="text-first-section pt-5">
            <h2>Compra e Venda de Equipamentos</h2>
            <p class="pt-3">A EletronX também é reconhecida pela intermediação qualificada na compra e venda de
                equipamentos médicos novos, seminovos e recondicionados. Com um rigoroso processo de avaliação técnica e
                procedência dos produtos, a empresa garante que todos os equipamentos comercializados estejam em pleno
                funcionamento e com excelente custo-benefício.
                Desde monitores multiparamétricos, cardioversores e ventiladores, até equipamentos de imagem e sistemas
                de hemodinâmica, a EletronX oferece um portfólio amplo, atendendo às necessidades de instituições de
                diferentes portes.</p>
        </div>
        <div class="img-fluid">

            <img class="img-fluid" src="/assets/img/compra_venda.png" alt="">
        </div>
    </section>

    <section class="second-section">
        <div class="cartao">
            <h3>Hemodinâmica</h3>
            <p>Oferecemos sistemas de hemodinâmica de alta performance, ideais para diagnósticos precisos e
                procedimentos intervencionistas. Equipamentos modernos, revisados e com garantia.</p>
            <img src="/assets/img/hemodinamica_icon.png" alt="">
        </div>
        <div class="cartao">
            <h3>Arco Cirúrgico</h3>
            <p>Arcos cirúrgicos com tecnologia de imagem avançada, perfeitos para cirurgias ortopédicas, e vasculares.
                Qualidade garantida e assistência especializada em todo o Brasil.</p>
            <img src="/assets/img/arco_cirurgico_icon.png" alt="">
        </div>
        <div class="cartao">
            <h3>Acessórios Hospitalar</h3>
            <p>Oferecemos acessórios dedicados para sistemas de hemodinâmica: pedaleiras, monitores auxiliares,
                injetores automáticos. Compatíveis com as principais marcas do mercado.</p>
            <img src="/assets/img/Surgery_black.png" alt="">
        </div>
    </section>

    <section class="third-section py-5">
        <div>
            <div class="body-text">
                <h2>Compra e Venda de Equipamentos Médicos</h2>
                <p>A EletronX também é reconhecida pela intermediação qualificada na compra e venda de equipamentos
                    médicos
                    novos, seminovos e recondicionados. Com um rigoroso processo de avaliação técnica e procedência dos
                    produtos, a empresa garante que todos os equipamentos comercializados estejam em pleno funcionamento
                    e
                    com excelente custo-benefício.
                    Desde monitores multiparamétricos, cardioversores e ventiladores, até equipamentos de imagem e
                    sistemas
                    de hemodinâmica, a EletronX oferece um portfólio amplo, atendendo às necessidades de instituições de
                    diferentes portes.</p>
            </div>
            <div class="body-text2">
                <h2>Especialistas em Hemodinâmica</h2>
                <p>A hemodinâmica é uma das áreas mais exigentes da medicina moderna, e a EletronX atua com profundo
                    conhecimento técnico, fornecendo equipamentos de ponta, consultoria técnica e assistência
                    especializada. A empresa trabalha com as principais marcas do mercado, garantindo a entrega de
                    soluções seguras, precisas e atualizadas com os padrões internacionais.
                    Seja na implantação de novos sistemas ou na modernização de salas de hemodinâmica, a EletronX
                    oferece suporte completo, do planejamento técnico à instalação e manutenção, sempre priorizando a
                    segurança do paciente e a eficácia dos procedimentos médicos.</p>
            </div>
        </div>
    </section>

    <section class="fourth-section py-5">

        <div class="texto text-center text-white">
            <h2>Entre em Contato com Nossa Equipe de Atendimento</h2>
        </div>
        <div class="icons">

            <div class="box-icon">
                <img src="/assets/img/instagram.png" width="70px" alt="">
                <a class="px-4 py-2 rounded-5" href="">Instagram</a>
            </div>
            <div class="box-icon">
                <img src="/assets/img/WhatsApp.png" width="70px" alt="">
                <a class="px-4 py-2 rounded-5" href="">WhatsApp</a>
            </div>
            <div class="box-icon ">
                <img src="/assets/img/Email.png" width="70px" alt="">
                <a class="px-4 py-2 rounded-5" href="">Email</a>
            </div>
        </div>
    </section>

    <section class="fifth-section">
        <div class="on-header">
            <h4 class=" pt-5">Tecnologia Médica com Segurança e Precisão</h4>
            <h2 class="">Soluções completas com tecnologia, confiança e experiência</h2>
        </div>
        <div class="body-cards text-center">

            <div class="on-cards">
                <img src="/assets/img/Technical_support.png" alt="">
                <h5>Suporte ao cliente</h5>
                <p>Oferecemos um atendimento técnico humanizado, ágil e eficiente. Nossa equipe está sempre pronta para
                    ajudar, seja na instalação, manutenção ou dúvidas operacionais. Conte com um suporte especializado
                    que
                    entende suas necessidades.</p>
            </div>
            <div class="on-cards">
                <img src="/assets/img/Check.png" alt="">
                <h5>Qualidade de Atendimento</h5>
                <p>Comprometimento com a excelência em cada detalhe. Desde o primeiro contato até o pós-venda,
                    garantimos uma experiência transparente, confiável e personalizada. Mais que atendimento,
                    construímos parcerias duradouras.</p>
            </div>
            <div class="on-cards">
                <img src="/assets/img/Sell.png" alt="">
                <h5>Produtos a Pronta Entrega</h5>
                <p>Trabalhamos com estoque próprio de equipamentos médicos selecionados. Agilidade no envio e garantia
                    de produtos testados e revisados por técnicos certificados. Soluções imediatas para hospitais,
                    clínicas e centros médicos.</p>
            </div>
        </div>
    </section>
</main>
<app-footer></app-footer>