.first-section {
    display: flex;
    flex-direction: row;
    background-color: #245b8d;
    color: white;

    
            .texto-body{
               max-width: 1000px;
               padding: 50px;
            }
    .image-section{

        img {
            width: 100%;
            max-width: 900px;
            padding: 20px;
            border-radius: 40px;
        }
  
    }
}

.second-section {
    display: flex;
    flex-direction: row;
    padding: 50px;

    .texto-body {
        max-width: 900px;


        .check-list{
            display: flex;
            flex-direction: row;
           img {
             padding-right: 20px;
             padding-bottom: 30px;
           }
        }
    }

    img {
        padding-left: 300px;
    }
}
.third-section {
    display: flex;
    justify-content: space-around;
    background-color: #245b8d;
    color: white;

    .cartao {
        max-width: 250px;
        background-color: #28639b;
        
    }
}

.fourth-section {
    .edit-card{
        
        img {
            max-width: 170px;
        }
    }
}

.lista-cartoes{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}


    @media (width <= 1161px) {
            .third-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        .cartao {
            margin-top: 20px;
        }
    }

    .lista-cartoes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 20px;

        .card {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}


.fifth-section {
    display: flex;
    justify-content: center;
   background-color: #245b8d;
   padding: 20px;

   .banner {
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    background-color: white;
    margin: 20px;
    border-radius: 20px;

    padding-top: 20px;
    .body-texto{
        padding: 20px;
        text-align: center;
        p{
            
            max-width: 800px;
        }
    }
   }
}

    @media (width <= 1600px) {
        .first-section {
            .texto-body {
               p {
                max-width: 1000px;
               }
            }
        }

        .second-section {
            img {
                padding-left: 100px;
            }
        }
    }

       @media (width <= 1350px) {
        .first-section {
            display: flex;
            flex-direction: column;
            .texto-body {
               p {
                max-width: 1000px;
               }
            }
        }

        .second-section {
            img {
                padding-left: 30px;
            }
        }
    }

       @media (width <= 1000px) {
        .second-section {
          display: flex;
          flex-direction: column;
        }

        .fifth-section {
            .banner {
                         display: flex;
            flex-direction: column;
            }
        }
    }

    @media (width <= 630px) {
        .third-section {
            grid-template-columns: 1fr;
        }

        .lista-cartoes {
            grid-template-columns: 1fr;
        }
    }