<app-header></app-header>
<main>

  <section class="first-section">
    <div class="texto-body">
      <h1>Produtos</h1>
      <p>Na EletronX, oferecemos soluções completas em equipamentos de hemodinâmica e arcos cirúrgicos, voltadas para
        hospitais, clínicas e centros especializados que buscam tecnologia confiável, suporte técnico e segurança no
        investimento.

        Trabalhamos com marcas reconhecidas no mercado, como GE, Philips, Siemens e VMI, disponibilizando sistemas de
        alta performance, revisados, testados e prontos para instalação. Cada equipamento é cuidadosamente avaliado pela
        nossa equipe técnica e pode ser adquirido com garantia, suporte pós-venda e possibilidade de customização
        conforme a necessidade do cliente.</p>

    </div>

    <div class="image-section "><img class="" src="/assets/img/2.jpg" alt=""></div>

  </section>


  <section class="second-section">
    <div class="texto-body">
      <h1>GE Innova 3100</h1>
      <p>A GE Innova 3100 é um sistema de angiografia digital de alta performance, projetado para atender às crescentes
        demandas dos procedimentos intervencionistas cardiovasculares, neurovasculares e periféricos. Sua combinação de
        tecnologia de imagem avançada, baixa dose de radiação e fluxo de trabalho otimizado faz dela uma das soluções
        mais completas para centros que buscam excelência clínica aliada à eficiência operacional.</p>

      <div class="check-list">
        <img src="/assets/img/check-circle-fill.svg" alt="">
        <p data-aos="fade-down" data-aos-duration="1000">Detector Flat Panel Digital de alta resolução, que entrega imagens nítidas em tempo real, facilitando o
          diagnóstico e guiando intervenções com máxima precisão;</p>
      </div>
      <div class="check-list">
        <img src="/assets/img/check-circle-fill.svg" alt="">
        <p data-aos="fade-down" data-aos-duration="1500">Tecnologia Dose Personalizada (Dose Personalization), que ajusta automaticamente os parâmetros para reduzir a
          exposição à radiação, sem comprometer a qualidade da imagem;</p>
      </div>
      <div class="check-list">
        <img src="/assets/img/check-circle-fill.svg" alt="">
        <p data-aos="fade-down" data-aos-duration="2000">Sistema de pós-processamento avançado, com ferramentas de visualização 3D, roadmap e calibração automática;
        </p>
      </div>
    </div>

    <div class="image-section "><img class="img-fluid" src="/assets/img/GE_3100.png" alt=""></div>

  </section>


  <section class="third-section p-5">
    <div class="img-fluid cartao rounded-2 p-4 text-center">
      <img src="/assets/img/hemodinamica_icon_WHITE.png" alt="">
      <p class="pt-3" data-aos="fade-down" data-aos-duration="1000">Soluções completas para diagnósticos cardiovasculares com alta precisão, segurança e performance
        validada.</p>
    </div>
    <div class="img-fluid cartao rounded-2 p-4 text-center">
      <img src="/assets/img/arco_cirurgico_icon_white.png" alt="">
      <p class="pt-3" data-aos="fade-down" data-aos-duration="1000">Arcos cirúrgicos móveis ideais para procedimentos ortopédicos, vasculares e intensivos, com
        excelente qualidade de imagem.</p>
    </div>
    <div class="img-fluid cartao rounded-2 p-4 text-center">
      <img src="/assets/img/Surgery.png" alt="">
      <p class="pt-3" data-aos="fade-down" data-aos-duration="1000">Peças, acessórios e periféricos para manter seus equipamentos em pleno funcionamento, com
        agilidade e confiança.</p>
    </div>
    <div class="img-fluid cartao rounded-2 p-4 text-center">
      <img src="/assets/img/HospitalWagon.png" alt="">
      <p class="pt-3" data-aos="fade-down" data-aos-duration="1000">Nossa logística eficiente e suporte técnico especializado garantem atendimento ágil em qualquer
        região do país.</p>
    </div>
  </section>


  <section class="fourth-section">
    <h2 class="produtos text-center py-5">Produtos</h2>

    <div class="lista-cartoes">
      <div class="card" style="width: 18rem;">
        <img src="/assets/img/hemodinamica1.png" width="100px" class="card-img-top p-4" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">XPRO Angix III</h5>
          <p class="card-text text-center">Tecnologia Moderna para Diagnóstico de Alta Precisão</p>
          <a href="https://api.whatsapp.com/send/?phone=5521972647698&text&type=phone_number&app_absent=0"
            class="text-center btn btn-primary d-flex justify-content-center m-3">Entrar em Contato</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="/assets/img/Philips-allura-cv20.png" width="100px" class="card-img-top p-4" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Philips Allura CV20</h5>
          <p class="card-text text-center">Desempenho Avançado em Intervenções Cardiovasculares</p>
          <a href="https://api.whatsapp.com/send/?phone=5521972647698&text&type=phone_number&app_absent=0"
            class="text-center btn btn-primary d-flex justify-content-center m-3">Entrar em Contato</a>
        </div>
      </div>


      <div class="edit-card card" style="width: 18rem;">
      <img src="/assets/img/oec-one.png"  class="card-img-top mx-5" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Arco OEC ONE</h5>
          <p class="card-text text-center pt-3">Imagens em Alta Definição com Segurança</p>
          <a href="https://api.whatsapp.com/send/?phone=5521972647698&text&type=phone_number&app_absent=0"
            class="text-center btn btn-primary d-flex justify-content-center m-3 mt-4">Entrar em Contato</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="/assets/img/VMICYGNUS.png" width="100px" class="card-img-top p-4" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">VMI Cygnus</h5>
          <p class="card-text text-center">Solução Robusta para Procedimentos</p>
          <a href="https://api.whatsapp.com/send/?phone=5521972647698&text&type=phone_number&app_absent=0"
            class="text-center btn btn-primary d-flex justify-content-center m-3">Entrar em Contato</a>
        </div>
      </div>
    </div>

  </section>

  <section class="fifth-section">
    <div class="banner img-fluid">
      <div class="body-texto img-fluid">
        <h2>Manutenções</h2>
        <p>Na Eletronx, entendemos que a continuidade do atendimento médico depende diretamente da confiabilidade dos
          equipamentos em operação. Por isso, oferecemos serviços de manutenção corretiva e preventiva com alto padrão
          técnico e agilidade, assegurando que seu parque tecnológico esteja sempre em pleno funcionamento.

          Contamos com um estoque próprio de mais de 800 metros quadrados, equipado com uma ampla variedade de peças,
          componentes e acessórios originais, o que nos permite realizar intervenções rápidas e eficazes, minimizando o
          tempo de inatividade dos equipamentos.

          Além disso, nossa equipe técnica especializada está pronta para oferecer diagnóstico preciso, suporte técnico
          qualificado e atendimento personalizado, seja para hospitais, clínicas ou centros de diagnóstico por imagem.
        </p>
      </div>
      <div class="img-fluid">

        <img class="img-fluid" src="/assets/img/medico_desenho.png" alt="">
      </div>

    </div>
  </section>

</main>
<app-footer></app-footer>