<app-header></app-header>
<main>

    <section class="first-section">
        <div class="texto-body">
            <h1>Produtos</h1>
            <p>A EletronX também é reconhecida pela intermediação qualificada na compra e venda de equipamentos médicos
                novos, seminovos e recondicionados. Com um rigoroso processo de avaliação técnica e procedência dos
                produtos, a empresa garante que todos os equipamentos comercializados estejam em pleno funcionamento e
                com excelente custo-benefício.
                Desde monitores multiparamétricos, cardioversores e ventiladores, até equipamentos de imagem e sistemas
                de hemodinâmica, a EletronX oferece um portfólio amplo, atendendo às necessidades de instituições de
                diferentes portes.</p>
        </div>

        <div class="image-section "><img class="" src="/assets/img/2.jpg"  alt=""></div>
        
    </section>

    
    <section class="second-section">
        <div class="texto-body">
            <h1>Produtos</h1>
            <p>A EletronX também é reconhecida pela intermediação qualificada na compra e venda de equipamentos médicos
                novos, seminovos e recondicionados. Com um rigoroso processo de avaliação técnica e procedência dos
                produtos, a empresa garante que todos os equipamentos comercializados estejam em pleno funcionamento e
                com excelente custo-benefício.
                Desde monitores multiparamétricos, cardioversores e ventiladores, até equipamentos de imagem e sistemas
                de hemodinâmica, a EletronX oferece um portfólio amplo, atendendo às necessidades de instituições de
                diferentes portes.</p>
        </div>

        <div class="image-section "><img class="img-fluid" src="/assets/img/GE_3100.png"  alt=""></div>
        
    </section>


       <section class="third-section p-5">
        <div class="img-fluid cartao rounded-2 p-4 text-center">
            <img src="/assets/img/hemodinamica_icon_WHITE.png" alt="">
            <p class="pt-3">Soluções tecnológicas avançadas para diagnósticos confiáveis. Com performance validada.</p>
        </div>
         <div class="img-fluid cartao rounded-2 p-4 text-center">
            <img src="/assets/img/arco_cirurgico_icon_white.png" alt="">
            <p class="pt-3">Mais de 20 anos de experiência no setor de hemodinâmica e tecnologia médica.</p>
        </div>
         <div class="img-fluid cartao rounded-2 p-4 text-center">
            <img src="/assets/img/Surgery.png" alt="">
            <p class="pt-3">Equipamentos essenciais para o cuidado intensivo e procedimentos de alta complexidade.</p>
        </div>
         <div class="img-fluid cartao rounded-2 p-4 text-center">
            <img src="/assets/img/HospitalWagon.png" alt="">
            <p class="pt-3">Nossa logística e suporte técnico alcançam todo o território nacional.</p>
        </div>
    </section>

</main>
<app-footer></app-footer>