<app-header></app-header>
<main>
    <section class="first-section">
        <div class="text-first-section pt-5">
            <h2>Conheça Nossa GE Innova 3100</h2>
            <p class="pt-3">A EletronX também é reconhecida pela intermediação qualificada na compra e venda de
                equipamentos médicos novos, seminovos e recondicionados. Com um rigoroso processo de avaliação técnica e
                procedência dos produtos, a empresa garante que todos os equipamentos comercializados estejam em pleno
                funcionamento e com excelente custo-benefício.
                Desde monitores multiparamétricos, cardioversores e ventiladores, até equipamentos de imagem e sistemas
                de hemodinâmica, a EletronX oferece um portfólio amplo, atendendo às necessidades de instituições de
                diferentes portes.</p>
        </div>
        <div class="innova img-fluid rounded-5">

            <img class="innova  img-fluid" src="/assets/img/innova.jpeg" width="300px" alt="">
        </div>
    </section>

    <section class="video ">
        <div class="container mt-5">
            <section class="video">
                <div class="container mt-5">
                    <!-- <h1 class="text-start px-5 py-3">GE Innova 3100</h1> -->
                    <div class="ratio ratio-16x9 ">
                        <iframe class="rounded-4" width="60" height="215"
                            src="https://youtube.com/embed/H0NgKhWnbZM?feature=share" title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                    </div>
                </div>
            </section>
        </div>
    </section>
    <!-- 
    <section class="second-section">
        <div class="text-first-section pt-5">
            <h2>Conheça Nossa Hemodinâmica</h2>
            <p class="pt-3">A EletronX também é reconhecida pela intermediação qualificada na compra e venda de
                equipamentos médicos novos, seminovos e recondicionados. Com um rigoroso processo de avaliação técnica e
                procedência dos produtos, a empresa garante que todos os equipamentos comercializados estejam em pleno
                funcionamento e com excelente custo-benefício.
                Desde monitores multiparamétricos, cardioversores e ventiladores, até equipamentos de imagem e sistemas
                de hemodinâmica, a EletronX oferece um portfólio amplo, atendendo às necessidades de instituições de
                diferentes portes.</p>
        </div>
        <div class="img-fluid">

            <img class="img-fluid" src="/assets/img/VMICYGNUS.png" width="300px" alt="">
        </div>
    </section> -->
<!-- 
    <section class="third-section">
        <div class="img-fluid">

            <img class="img-fluid" src="/assets/img/Philips-allura-cv20.png" width="300px" alt="">
        </div>
        <div class="text-first-section pt-5">
            <h2>Conheça Nossa Philips Allura CV20</h2>
            <p class="pt-3">Eleve o padrão do seu centro de cardiologia intervencionista com a Philips Allura CV20, um
                sistema de hemodinâmica de alta performance projetado para oferecer qualidade de imagem incomparável,
                fluxo de trabalho eficiente e suporte clínico avançado.

                Com tecnologia de ponta em angiografia digital, o Allura CV20 proporciona imagens nítidas com baixíssima
                dose de radiação, garantindo segurança ao paciente e à equipe médica. Seu detector de flat-panel de
                última geração e algoritmos de processamento inteligente permitem diagnósticos mais precisos e
                intervenções mais eficazes.</p>
        </div>
    </section> -->

    <section class="fourth-section pt-5">
        <div class="text-first-section ">
            <h2>Conheça Nossa Philips Allura CV20</h2>
            <p class="pt-0">A EletronX também é reconhecida pela intermediação qualificada na compra e venda de
                equipamentos médicos novos, seminovos e recondicionados. Com um rigoroso processo de avaliação técnica e
                procedência dos produtos, a empresa garante que todos os equipamentos comercializados estejam em pleno
                funcionamento e com excelente custo-benefício.
                Desde monitores multiparamétricos, cardioversores e ventiladores, até equipamentos de imagem e sistemas
                de hemodinâmica, a EletronX oferece um portfólio amplo, atendendo às necessidades de instituições de
                diferentes portes.</p>
        </div>

        <div class="group-check-list pt-3">
            <h2 class="text-center pt-3">Philips Allura CV20</h2>
            <div class="check-list">
                <img src="/assets/img/check-circle-fill.svg"  alt="">
                <p>Imagens de alta resolução em tempo real, mesmo nas anatomias mais desafiadoras.</p>
            </div>

                        <div class="check-list">
                <img src="/assets/img/check-circle-fill.svg"  alt="">
                <p> Tecnologia DoseWise: qualidade de imagem com exposição mínima.</p>
            </div>

                        <div class="check-list">
                <img src="/assets/img/check-circle-fill.svg" alt="">
                <p>Design ergonômico e integração total com ferramentas de planejamento e navegação.</p>
            </div>

                        <div class="check-list">
                <img src="/assets/img/check-circle-fill.svg" alt="">
                <p> Compatível com procedimentos cardíacos e vasculares complexos.</p>
            </div>

        </div>
        <div class="img-fluid ">

            <img class="img-fluid  " src="/assets/img/Philips-allura-cv20.png" width="300px" alt="">
        </div>
    </section>

    <section class="fifth-section">
        <div class="text-body">
            <h2>Conheça Também Nosso Suporte e Manutenção de Equipamentos
            </h2>
        </div>
        <div class="image-body">
            <img class=" img-fluid" src="/assets/img/Assistencia_Tecnica.png" alt="">
        </div>
    </section>

    <section class="sixth-section py-5">
        <div class="texto text-center">
            <h2>Entre em Contato com Nossa Equipe de Atendimento</h2>
        </div>
        <div class="icons">

            <div class="box-icon">
                <img class="img-fluid" src="/assets/img/instagram.png" width="70px" alt="">
                <a class="px-4 py-2 rounded-5" href="">Instagram</a>
            </div>
            <div class="box-icon">
                <img class="img-fluid" src="/assets/img/WhatsApp.png" width="70px" alt="">
                <a class="px-4 py-2 rounded-5" href="">WhatsApp</a>
            </div>
            <div class="box-icon ">
                <img class="img-fluid" src="/assets/img/Email.png" width="70px" alt="">
                <a class="px-4 py-2 rounded-5" href="">Email</a>
            </div>
        </div>
    </section>
</main>
<app-footer></app-footer>