<app-header></app-header>
<main>
    <section class="first-section">
        <div class="text-first-section pt-5" >
            <h2>EletronX: Excelência em Hemodinâmica, Equipamentos Médicos</h2>
            <p class="pt-3">Com mais de uma décadas de experiência e compromisso com a qualidade, a EletronX se
                consolidou como uma
                das principais referências no mercado brasileiro de hemodinâmica, compra e venda de equipamentos médicos
                e serviços especializados de manutenção. Desde a sua fundação, a empresa tem como missão oferecer
                soluções tecnológicas de alto desempenho e confiabilidade para hospitais, clínicas e centros médicos em
                todo o país.</p>
        </div>
        <div class="img-fluid">

            <img class="img-fluid" src="/assets/img/publicidade_1.png" alt="Assistência Técnica Especializada">
        </div>
    </section>

    <section class="second-section">
        <div class="text-section pt-5">
            <h2>
                Mais de 13 anos prestando serviços , venda de equipamentos em diagnóstico por imagem
            </h2>
            <p class="pt-3">
                A trajetória da EletronX começou há mais de 13 anos com o objetivo de transformar a realidade da
                medicina diagnóstica e intervencionista no Brasil. Ao longo dos anos, a empresa construiu uma reputação
                sólida baseada em competência técnica, ética profissional e atendimento personalizado. Seu foco em
                inovação e excelência a tornou uma parceira de confiança para instituições de saúde públicas e privadas.
            </p>
        </div>

        <div class="propaganda img-fluid">
            <img class="img-fluid" src="/assets/img/missao1.png" alt="">
        </div>
    </section>

    <section class="third-section">

        <div class="body-one">
            <div class="img-body">
                <img src="/assets/img/logo.png" alt="">
            </div>
            <p class="p-4">A hemodinâmica é uma das áreas mais exigentes da medicina moderna, e a EletronX atua com
                profundo
                conhecimento técnico, fornecendo equipamentos de ponta, consultoria técnica e assistência especializada.
                A empresa trabalha com as principais marcas do mercado, garantindo a entrega de soluções seguras,
                precisas e atualizadas com os padrões internacionais.</p>
        </div>

        <div class="body-two">
            <div class="insignia text-center">
                <img src="/assets/img/Insignia.png" alt="">
                <h4 #contador>+ {{numero}}</h4>
                <p>Avaliações</p>
            </div>

            <div class="hospital text-center">
                <img src="/assets/img/Hospital_icon.png" alt="">
                <h4 #contador>+{{numero2}}</h4>
                <p>Hospitais Atendidos</p>
            </div>
        </div>
    </section>

    <section class="fourth-section pt-5">
        <div class="text-banner">
            <h2>Manutenção Técnica com Garantia de Qualidade</h2>
      <p>
  {{ mostrarTextoCompleto ? textoCompleto : textoReduzido }}
  <span *ngIf="mostrarBotaoToggle" (click)="alternarTexto()" style="color: rgb(255, 255, 255); cursor: pointer;">
    {{ mostrarTextoCompleto ? ' Ler menos' : '... Ler mais' }}
  </span>
</p>
        </div>
        <picture>
          <source media="(max-width: 1200px)" class="another-image img-fluid "srcset="assets/img/OurService.jpg">
          <img width="1200px" src="assets/img/cirurgia_publicidade_no_text.png" alt="Imagem Responsiva">
        </picture>
    </section>

    <section class="fifth-section p-5">
        <div class="img-fluid cartao rounded-2 p-4 text-center">
            <img src="/assets/img/Eye.png" alt="">
            <p class="pt-3" data-aos="fade-down"data-aos-duration="1000">Soluções tecnológicas avançadas para diagnósticos confiáveis. Com performance validada.</p>
        </div>
         <div class="img-fluid cartao rounded-2 p-4 text-center">
            <img src="/assets/img/Innovation.png" alt="">
            <p class="pt-3" data-aos="fade-down"data-aos-duration="1000">Mais de 20 anos de experiência no setor de hemodinâmica e tecnologia médica.</p>
        </div>
         <div class="img-fluid cartao rounded-2 p-4 text-center">
            <img src="/assets/img/Surgery.png" alt="">
            <p class="pt-3" data-aos="fade-down" data-aos-duration="1000">Equipamentos essenciais para o cuidado intensivo e procedimentos de alta complexidade.</p>
        </div>
         <div class="img-fluid cartao rounded-2 p-4 text-center">
            <img src="/assets/img/HospitalWagon.png" alt="">
            <p class="pt-3" data-aos="fade-down" data-aos-duration="1000">Nossa logística e suporte técnico alcançam todo o território nacional.</p>
        </div>
    </section>


</main>

<app-footer></app-footer>