.nav-itens-edit:hover {
    transition: 0.5s;
    color: #3F8EFC;

}

.contato-button{
    background-color: #3F8EFC;
}

.contato-button:hover{
    transition: 0.5s;
    background-color: gray;


}