<header>
          <nav class="navbar navbar-expand-lg ">
          <div class="container">
            <a class="navbar-brand" href="home"><img style="width: 200px;" src="/assets/img/logo.png" alt=""></a>
            <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="sidebar offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
              <div class="offcanvas-header border-bottom">
                <img src="/assets/img/logo.png" alt="">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body d-flex flex-column flex-lg-row p-4 p-lg-0">
                <ul class=" navbar-nav justify-content-center fs-5 flex-grow-1 pe-3">
                                <li class="nav-item">
                    <a class="nav-itens-edit nav-link mx-2" aria-current="page" href="home">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-itens-edit nav-link mx-2" aria-current="page" href="sobre">Sobre</a>
                  </li>
                  <li class="nav-item mx-2">
                    <a class="nav-itens-edit nav-link" href="servicos">Serviços</a>
                  </li>
                  <li class="nav-item mx-2">
                    <a class="nav-itens-edit nav-link" href="hemodinamica">Hemodinâmica</a>
                  </li>
                  <li class="nav-item mx-2">
                    <a class="nav-itens-edit nav-link" href="produtos">Produtos</a>
                  </li>
                </ul>
                <div  class="d-flex flex-column flex-lg-row justify-content-center align-items-center gap-3">
                 <a href="https://api.whatsapp.com/send/?phone=5521972647698&text&type=phone_number&app_absent=0" class="contato-button text-white text-decoration-none px-4 py-2 rounded-5 " >Contato</a>
                </div>
              </div>

              </div>
            </div>
        </nav>
</header>